/*
	Iridium by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/


/*********************************************************************************/


/* Basic                                                                         */


/*********************************************************************************/

body {
    background: #141414!important;
}

body,
input,
textarea,
select {
    font-family: 'Arimo', sans-serif !important;
    font-size: 11pt;
    text-align: justify;
    line-height: 1.75em;
    color: #4c4c4c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

.container>.row {
    margin-right: 0px;
    margin-left: 0px;
}


/* Change this to whatever font weight/color pairing is most suitable */

strong,
b {
    font-weight: bold;
    color: #000000;
}

em,
i {
    font-style: italic;
}


/* Don't forget to set this to something that matches the design */

a {
    text-decoration: underline;
    color: #272727;
}

a:hover {
    text-decoration: none;
}

sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}

sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}

hr {
    border: 0;
    border-top: solid 1px #ddd;
}

blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}

p,
ul,
ol,
dl,
table {
    margin-bottom: 1em;
}

header {
    margin-bottom: 1em;
}

header h2 {}

header .byline {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
}

footer {
    margin-top: 1em;
}

br.clear {
    clear: both;
}


/* Sections/Articles */

section,
article {
    margin-bottom: 3em;
}

section> :last-child,
article> :last-child {
    margin-bottom: 0;
}

section:last-child,
article:last-child {
    margin-bottom: 0;
}

.row>section,
.row>article {
    margin-bottom: 0;
}


/* Images */

.image {
    display: inline-block;
}

.image img {
    display: block;
    width: 100%;
}

.image.featured {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.full {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

.image.left {
    float: left;
    margin: 0 2em 2em 0;
}

.image.centered {
    display: block;
    margin: 0 0 2em 0;
}

.image.centered img {
    margin: 0 auto;
    width: auto;
}


/* Lists */

ul.default {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.default li {
    padding: 0.60em 0em;
    border-top: 1px solid;
    border-color: rgba(255, 255, 255, .1);
}

ul.default li:first-child {
    padding-top: 0;
    border-top: none;
}

ul.default a {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

ul.default a:hover {
    text-decoration: underline;
}

ul.style {}

ul.style li {
    margin: 0;
    padding: 2em 0em 1.5em 0em;
    border-top: 1px solid #ECECEC;
}

ul.style li:first-child {
    padding-top: 0;
    border-top: none;
}

ul.style img {
    float: left;
    margin-right: 20px;
}

ul.style p {}

ul.style .posted {
    padding: 0em 0em 1em 0em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 8pt;
    color: #A2A2A2;
}

ul.style .first {
    padding-top: 0px;
    border-top: none;
}


/* Buttons */

.button {
    position: relative;
    display: inline-block;
    margin-top: 2em;
    padding: 0.90em 1.5em;
    background: #e95d3c;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #FFF;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background: #de3d27;
    color: #FFF !important;
}


/*********************************************************************************/


/* Header                                                                        */


/*********************************************************************************/

#header {
    position: relative;
    background: #2a2f27 url(../images/banner.jpg) no-repeat;
    background-size: cover;
}

#logo {}

#nav {}

#nav ul {
    margin: 0;
}


/*********************************************************************************/


/* Banner                                                                        */


/*********************************************************************************/

#banner {
    position: relative;
    background: #333;
    color: #fff;
}


/*********************************************************************************/


/* Main                                                                          */


/*********************************************************************************/

#main {
    position: relative;
    background: #fff;
}


/*********************************************************************************/


/* Featured                                                                      */


/*********************************************************************************/

#featured {
    position: relative;
    background: #f2f2f2;
}

#featured h1 {
    display: block;
    margin-bottom: 2em;
    font-size: 1.4em;
}


/*********************************************************************************/


/* Footer                                                                        */


/*********************************************************************************/

#footer {
    position: relative;
    background: #1d1d1d;
}

#footer h2 {
    display: block;
    color: #FFF;
}


/*********************************************************************************/


/* Copyright                                                                     */


/*********************************************************************************/

#copyright {
    position: relative;
    padding: 3em 0em;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(255, 255, 255, .2);
}

#copyright .container {}

#copyright a {
    text-decoration: none;
    color: rgba(255, 255, 255, .3);
}


/*********************************************************************************/


/* Pricing table                                                                     */


/*********************************************************************************/

.membership-pricing-table table {
    width: 100%
}

.membership-pricing-table table .icon-no,
.membership-pricing-table table .icon-yes {
    font-size: 22px
}

.membership-pricing-table table .icon-no {
    color: #a93717
}

.membership-pricing-table table .icon-yes {
    color: #209e61
}

.membership-pricing-table table .plan-header {
    text-align: center;
    font-size: 48px;
    border: 1px solid #e2e2e2;
    padding: 35px 0
}

.membership-pricing-table table .plan-header-free {
    background-color: #eee;
    color: #555
}

.membership-pricing-table table .plan-header-blue {
    color: #fff;
    background-color: #61a1d1;
    border-color: #3989c6
}

.membership-pricing-table table .plan-header-standard {
    color: #fff;
    background-color: #ff9317;
    border-color: #e37900
}

.membership-pricing-table table td {
    text-align: center;
    width: 15%;
    padding: 7px 10px;
    background-color: #fafafa;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    vertical-align: middle;
}

.membership-pricing-table table,
.membership-pricing-table table td {
    border: 1px solid #ebebeb
}

.membership-pricing-table table tr td.semi-title {
    text-align: left !important;
    font-weight: bold;
}

.membership-pricing-table table tr td:first-child {
    background-color: transparent;
    text-align: right;
    width: 24%
}

.membership-pricing-table table tr td:nth-child(5) {
    background-color: #FFF
}

.membership-pricing-table table tr:first-child td,
.membership-pricing-table table tr:nth-child(2) td {
    -webkit-box-shadow: none;
    box-shadow: none
}

.membership-pricing-table table tr:first-child th:first-child {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: #e2e2e2
}

.membership-pricing-table table tr:first-child th .pricing-plan-name {
    font-size: 22px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price {
    line-height: 35px
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
    font-size: 45%
}

.membership-pricing-table table tr:first-child th .pricing-plan-price>span {
    font-size: 30%
}

.membership-pricing-table table tr:first-child th .pricing-plan-period {
    margin-top: -7px;
    font-size: 25%
}

.membership-pricing-table table .header-plan-inner {
    position: relative
}

.membership-pricing-table table .recommended-plan-ribbon {
    box-sizing: content-box;
    background-color: #dc3b5d;
    color: #FFF;
    position: absolute;
    padding: 3px 6px;
    font-size: 11px!important;
    font-weight: 500;
    left: -6px;
    top: -30px;
    z-index: 99;
    width: 100%;
    -webkit-box-shadow: 0 -1px #c2284c inset;
    box-shadow: 0 -1px #c2284c inset;
    text-shadow: 0 -1px #c2284c
}

.membership-pricing-table table .recommended-plan-ribbon:before {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 0 0 6px;
    bottom: -5px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .recommended-plan-ribbon:after {
    border: solid;
    border-color: #c2284c transparent;
    border-width: 6px 6px 0 0;
    bottom: -5px;
    content: "";
    right: 0;
    position: absolute;
    z-index: 90
}

.membership-pricing-table table .plan-head {
    box-sizing: content-box;
    background-color: #ff9c00;
    border: 1px solid #cf7300;
    position: absolute;
    top: -33px;
    left: -1px;
    height: 30px;
    width: 100%;
    border-bottom: none
}

.borderless td,
.borderless th {
    border: none;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: left;
}

.borderless td:first-child {
    text-align: right!important;
}